<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.web>

</system.web>

    <system.webServer>
    <staticContent>
  <remove fileExtension=".json" />
  <mimeMap fileExtension=".json" mimeType="application/json" />
</staticContent>
        <handlers>
        <remove name="iisnode" />
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>
        <iisnode loggingEnabled="true" 
        debuggingEnabled="true" />
<!--
        <rewrite>
            <rules>
                <rule name="myapp">
                    <match url="/web/*" />
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>  -->
      <!--<rewrite>
        <rules>
            <rule name="angularjs routes" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    <add input="{REQUEST_URI}" pattern="^/$" negate="true"/>
                </conditions>
                <action type="Rewrite" url="/web" />
            </rule>
        </rules>
    </rewrite> -->

<!--
     <rewrite>
            <rules>
                <rule name="myapp">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>
        -->

        <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <rule name="upload">
            <match url="^upload" />
            <action type="Rewrite" url="server.js" />
        </rule>
        <rule name="csv_upload">
            <match url="^csv_upload" />
            <action type="Rewrite" url="server.js" />
        </rule>

        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <!--<rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>-->

        <!-- All other URLs are mapped to the node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
            <rewriteMaps>
                <rewriteMap name="server.js" />
            </rewriteMaps>
    </rewrite>
    </system.webServer>
</configuration>
